/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

	#canvas { 
	    cursor: crosshair;
	}

	#canvas:active { 
	    cursor: crosshair;
	}​